* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-family: "rubik";
	--color-red: #e63946;
	--color-beige: #f1faee;
	--color-green: #a8dadc;
	--color-greyish-blue: #457b9d;
	--color-dark-blue: #1d3557;
}

.cards {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin: 2rem;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	flex-wrap: wrap;
	font-family: var(--font-family);
}

.cards h5 {
	font-weight: 700;
}

.cards__precio-agregar {
	display: flex;
	justify-content: space-between;
}

.cards__precio-agregar span {
	background: var(--color-dark-blue);
	width: 10rem;
	margin: 0;
	position: relative;
	left: 1rem;
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 0.5rem;
}

.stock {
	margin: 1.5rem 0 0 0;
	text-align: end;
	font-size: 12px;
	border-left: 1px gray solid;
	width: 4rem;
	position: relative;
	left: 12rem;
	color: green;
	font-weight: 300;
}

.ultimos-ingresos {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ultimos-ingresos h2 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 50px;
}

@media (max-width: 479px) {
	.ultimos-ingresos h2 {
		font-size: 40px;
	}
}
