@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Space+Mono:wght@700&display=swap");

* {
  font-family: "Goldman", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.contenedor {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: black;
  background-image: url(https://img.pikbest.com/png-images/20211009/people-watching-movie-outdoors-in-evening_6139154.png!bw700);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-bottom: 20%;
}

.login {
  background-color: black;
  opacity: 90%;
}

h2 {
  color: white;
}

label {
  color: antiquewhite;
}
p {
  color: antiquewhite;
}

h1 {
  color: rgb(233, 238, 245);
  font-size: 20px;
  padding: 20px;
}

button {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background: rgb(5, 129, 245);
  color: white;
}

.row {
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
}

h5 {
  color: antiquewhite;
}

span {
  background-color: aliceblue;
}
